*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    display: flex;
    background-color: #5995DA;
    padding: 25px 0px;
}
.nav-contents {
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* GWA calculator */
.column-container-1,
.column-container-2,
.column-container-3 {
    /* border: 1px solid red; */
    width: 30%;
}
.column-container-4 {
    width: 5%;
}
.input-field-contents {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.column-container-2 {
    margin-left: 40px;
}

/* input */
.column-title {
    font-size: 20;
    font-weight: bold;
    padding: 25px 0;
}

.text-field {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 35px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}
.material-symbols-outlined {
    color: red;
}


input {
    width: 100%;
}

.input-wrapper {
    width: 100%;
}
.input-box-contents {
    /* border: 1px red solid; */
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.class-name-container {
    width: 80%;
}

.number-of-units-conainter,
.grades-obtained-container {
    width: 50%;
}


/* Buttons */
.button-contents {
    justify-content: space-between;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}
.left {
    width: 150px;
    display: flex;
    flex-direction: column;
}
.right {
    width: 150px;
}




/* Media Queries */

@media only screen and (max-width: 400px) {


}