*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    /* margin: auto; */
    margin: 30px 10px;
    padding: 35px 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    display: flex;
    background-color: #5995DA;
    padding: 30px 0px;
}
.nav-contents {
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* GWA calculator */
.input-field-header-contents {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-gwa{
    font-size: 25px;
}
.img-class {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.image1 {
    width: 150px;
}



.column-container-1,
.column-container-2,
.column-container-3 {
    /* border: 1px solid red; */
    width: 30%;
}
.column-container-4 {
    width: 5%;
}
.input-field-contents {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.column-container-2 {
    margin-left: 40px;
}

/* input */
.column-title {
    font-size: 20;
    font-weight: bold;
    padding: 12px 0;
}

.text-field {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 35px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}
.material-symbols-outlined {
    color: red;
}


input {
    width: 100%;
}

.input-wrapper {
    width: 100%;
}
.input-box-contents {
    /* border: 1px red solid; */
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.class-name-container {
    width: 80%;
}

.number-of-units-conainter,
.grades-obtained-container {
    width: 40%;
}


/* Buttons */


.button-contents {
    justify-content: space-between;
    width: 90%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

#add-btn {
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #C8C6FA;
    margin: 12px 0;
}
#reset-btn {

    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #C8C6FA;
}
#compute-btn {
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #F5CF8E;
}

#html-units {
    margin: 12px 0;
    font-size: 18px;
}
#html-gwa {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    padding: 13px;
    background-color:#F09A9D;
}
.texts-content {
    width: 90%;
}
.right {
    
}

/* footer */
.footer {
    position: fixed;
    background-color: #5995DA;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.footer-contents {
    height: 20px;
}





/* Media Queries */

@media only screen and (max-width: 400px) {


}